.DS_Store
.idea/
archive/
__pycache__
hydra_logs
test_augmentations_images
data/birdclef2025
data/kaggle_datasets/birdclef2025_code/main_folder.zip
data/kaggle_datasets/birdclef2025_code/main_folder/
logdirs/
wandb/
submission.csv
notebooks/cv_split.csv